extend layout

block content
  .section
    .container
      ul
        li
          a(href="/voice/1", data-voice="page one") Page one
        li
          a(data-voice="page two", onclick="alert()") Page two
        li
          a(href="/voice/3", data-voice="page three") Page three
        li  
          a(href="/voice/4", data-voice="page four") Page four
        li  
          a(href="/voice/5", data-voice="page five") Page five
        li  
          a(href="/", data-voice="homepage") Homepage
  .section
    .container
      p.white-text You are on the page #{number}
      
  block script
    script(src='/voice-interaction/docs/voice-interaction.js')